<h2>Cadastro de produtos</h2>
<form action="/add" method="POST">
    <p>Descrição: </p>
    <input type="text" name="descricao">
    <p>Valor: </p>
    <input type="text" name="valor">
    <button type="submit">Cadastrar</button>
</form>